@media only screen and (max-width: 600px){
    .navbar{
       position: relative;
    }
    .navbar .menubar{
        display: block;
        grid-template-columns: 8 / 9;
        font-size: 2em;
        cursor: pointer;
   }
   .navbar .menu{
    position: absolute;
    width: 100%;
    height: 70vh;
    display: grid;
    align-items: center;
    background-color: mediumpurple;
    margin-top: 38em;
    transform: translateX(170%);

   }
  
}